@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url(./assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

:root {
  --regular-font-size: 0.8rem;
  --large-font-size: 1.5rem;

  --default-boder-radius: 0.25rem;

  --success-color: #4caf50;
  --danger-color: #ff4122;
}

* {
  padding: 0px;
  margin: 0px;
}
